<center>
<h1>Budżet osobisty</h1>
<hr style="color: greenyellow">
<h2>Aktywacja konta</h2>
<p>Dziękujemy za rejestrację. Prosimy kliknąć <a href="{{ url }}">tutaj</a>, aby aktywować swoje konto.</p>
<br>
<hr style="color: greenyellow">
<p style="font-size: x-small"><i>Wiadomość została wygenerowana automatycznie. Prosimy na nią nie odpowiadać.</i></p>
<p style="font-size: x-small"><a href="http://budget.pawel-majchrzak.profesjonalnyprogramista.pl/">www.budget.pawel-majchrzak.profesjonalnyprogramista.pl</p>
</center>