{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

<a href="login.php" class="btn btn-lg btn-outline-secondary position-absolute end-0 me-3">Logowanie</a>

<header class="col-12 col-md-8 col-lg-7 col-xl-6 col-xxl-5 px-3 m-auto mt-3 pt-4">
    <h1 class="logo"><i class="icon-money"></i> Budżet osobisty</h1>
</header>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<article>

    <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 bg-white m-2 m-md-auto border border-light rounded p-2 shadow-lg">

        <header class="h3 text-start m-3" style="letter-spacing: 2px;">
            Rejestracja
        </header>

        <form method="post" action="/signup/create">

            <div class="input-group pt-3 pb-4 m-auto">
                <label for="inputName" class="input-group-text w-25">Imię</label>

                <input type="text" id="inputName" class="form-control" placeholder="Podaj imię" aria-label="Name" name="username" value="{{ user.username }}" required>

            </div>


            <div class="input-group pt-3 pb-4 m-auto">
                <label for="inputEmail" class="input-group-text w-25">E-mail</label>

                <input type="email" id="inputEmail" class="form-control" placeholder="Podaj adres Email" aria-label="Email" name="email" value="{{ user.email }}" required>
            </div>

            <div class="input-group pt-3 pb-4 m-auto">
                <label for="inputPassword" class="input-group-text w-25">Hasło</label>

                <input type="password" id="inputPassword" class="form-control" placeholder="Podaj hasło" aria-label="Password" name="password" required>
            </div>

            <div class="input-group pt-3 pb-4 m-auto">
                <label for="repeatPassword" class="input-group-text w-25">Powtórz hasło</label>

                <input type="password" id="repeatPassword" class="form-control" placeholder="Podaj hasło" aria-label="passwordConfirmation" name="passwordConfirmation" required>
            </div>

            <div class="col-12 col-md-11 col-lg-9 m-auto">
                <div class="ms-3 p-3 fs-6">
                    <label>
                        <input type="checkbox" class="form-check-input" value="a" name="statute"> Akceptuję <a href=""
                            target="_blank" class="link">Regulamin</a> i <a href="" target="_blank"
                            class="link">Politykę prywatności</a>
                    </label>
                    <br />
                    Masz już konto? <a href="login.php" class="link">Zaloguj się</a>

                </div>

                <div class="position-absolute start-50 translate-middle-x">

                    <div class="g-recaptcha" data-sitekey="6LeQ1OQjAAAAADZ_Iswn1RcAXpgAWXbxjNq0Go0n"></div>

                </div>
                <br /><br /><br />
            </div>


            <div class="btn-group btn-group-lg mt-5 start-50 translate-middle">
                <button type="submit" class="btn btn-success">Zarejestruj się</button>
            </div>

        </form>

    </div>

</article>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


{% endblock %}