{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

<div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 bg-white m-2 m-md-auto border border-light rounded p-2 shadow-lg">

    <header class="h3 text-start m-3" style="letter-spacing: 2px;">
        Regulamin
    </header>

    <div class="input-group p-3 m-auto px-5">
        Można się rejestrować, logować, korzystać z dobrodziejstwa tej aplikacji internetowej, ale jak administratorowi się nie spodoba coś to dostaniesz bana.
        <br><br>
        Tak bardziej na serio - jest to witryna do nauki, na użytek własny i w celu pokazania komuś: "Zoba co ja zrobiłem!", aby usłyszeć: "Ale z Ciebie super koder!".
    </div>

</div>

</article>

{% endblock %}