{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}




    <a href="/signup/new" class="btn btn-lg btn-outline-secondary position-absolute top-0 end-0 me-3 mt-3">Rejestracja</a>



    <article>
        
        <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 bg-white m-2 m-md-auto border border-light rounded p-2 shadow-lg">
        
            <header class="h3 text-start m-3" style="letter-spacing: 2px;">
                Przypomnienie hasła
            </header>
            
            <form action="/password/request-reset" method="post">
    
                <div class="input-group p-3 m-auto">
                    <span class="input-group-text w-25">E-mail</span>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Podaj adres E-mail" aria-label="Email" name="email" autofocus value="{{ email }}">
                </div>
    

    
                <div class="btn-group btn-group-lg start-50 translate-middle mt-5" role="group">
                    <button type="button"  class="btn btn-outline-success me-2" onclick="location.href='/';">Anuluj</button>
                    <button type="submit" class="btn btn-success ms-2">Zresetuj hasło</button>
                </div>
                

                
            </form>	
        
        </div>
    
    </article>


{% endblock %}
