{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block footer %}





{% endblock %}

{% block body %}

<main>
		
    <article>
    
        <div class="container px-2 pb-2">
        
            <div class="col-12 border border-success bg-light rounded p-3 ">
                <header class="h3 text-center mb-5">
                    Dodaj przychód
                </header>
                
                <form method="post" action="/addIncome/create">
                
                    <div class="row m-0 m-lg-3">
                        <div class="col-12 col-lg-6">

                            <div class="input-group mb-3">
                                <span class="input-group-text w-50">Kwota</span>
                                <input type="number" id="inputAmount" value="{{ income.amount }}" step="0.01" min="0" class="form-control" placeholder="Podaj kwotę w zł" aria-label="Amount" aria-describedby="amount" name="amount">
                            </div>
                            <div class="text-danger ms-2 fs-6 position-absolute"></div>

                        </div>
                        
                        <div class="col-12 col-lg-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text w-50">Data</span>
                                <input type="date" id="inputDate" class="form-control" aria-label="Date" aria-describedby="date" name="date" min="1990-01-01" value="{{ income.date }}" max="2035-12-31">
                            </div>
                            <div class="text-danger ms-2 fs-6 position-absolute"></div>
                        </div>
                    </div>
                        
                        
                    <div class="row m-0 m-lg-3">
                        <div class="col-12 col-lg-6">

                        </div>
                        
                        <div class="col-12 col-lg-6">

                            <div class="input-group mb-3">
                                <span class="input-group-text w-50">Kategoria</span>
                                <select class="form-select" name="category" id="inputCategory" aria-label="category" value="{{ income.category }}"> 

                                    <option value="cat0" selected disabled>	</option>
                                    
                                    {% for category in incomesCategory %}
                                    <option value="{{ category.id }}">
                                            {{ category.category }}
                                    </option>
                                    {% endfor %}
                                    <option value="cat2" >	Spadek</option>


                                </select>								
                            </div>
                        </div>
                    </div>
                    

                    <div class="row m-0 m-lg-3">
                        <div class="col-12">

                            <div class="input-group mb-3">
                                <span class="input-group-text">Komentarz</span>
                                <input type="text" name="comment" id="inputComment" class="form-control" placeholder="Dodaj komentarz" aria-label="Comment" aria-describedby="comment" value="{{ income.comment }}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn-group btn-group-lg start-50 translate-middle mt-5" role="group">
                        <button type="button"  class="btn btn-outline-success me-2" onclick="location.href='/';">Anuluj</button>
                        <button type="submit" class="btn btn-success ms-2">Dodaj</button>
                    </div>

                </form>
                
            </div>
        
        </div>

        <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5  ps-5 pt-2 mt-5 m-md-auto text-danger fs-6 ">
            {% if income.errors is not empty %}
                <p>Errors:</p>
                <ul>
                    {% for error in income.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </article>
    
</main>

{% endblock %}
