{% extends "base.html" %}

{% block title %}Add Expense{% endblock %}

{% block footer %}

<script>

    $.validator.addMethod('validTextField',
            function(value, element, param) {

                if (value != '') {

                    if (value.match(/^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9+_ -.,]*$/)) {
                        return true;
                    }
                    
                }
                else return true;

                return false;
            },
            'To pole może składać się tylko z liter, cyfr, plusów, minusów oraz spacji'
    ); 

    $(document).ready(function() {

        $('#formAddExpense').validate({
            errorPlacement: function(error, element) {
            error.appendTo( element.parent().next() );
            },

            rules: {
                amount: {
                    required: true,
                    min: 0,
                },
                date: {
                    required: true,
                },
                category: {
                    required: true,
                    validTextField: true,
                    
                },
                comment: {
                    validTextField: true
                    
                },
                paymentMethod: {
                    required: true,
                    validTextField: true,
                    
                }
            },
            messages: {
                amount: {
                    required:  'Kwota jest wymagana',
                    min: 'Kwota nie może być ujemna',
                    
                },
                date: {
                    required: 'Data jest wymagana',
                },
                category: {
                    required: 'Kategoria jest wymagana',
                },
                paymentMethod: {
                    required: 'Sposób płatności jest wymagany',
                    
                }

            },
            submitHandler: function(form) {
            form.submit();
            }

        });
                    
    });

</script>


{% endblock %}

{% block body %}

{% if current_user %}

<main>
		
    <article>
    
        <div class="container px-2 pb-2">
        
            <div class="col-12 border border-success bg-light rounded p-3 ">
                <header class="h3 text-center mb-5">
                    Dodaj wydatek
                </header>
                
                <form method="post" action="/addExpense/create" id="formAddExpense">

                    <div class="row m-0 m-lg-3 pb-1">
                        <div class="col-12 col-lg-6">
                            <div class="input-group mb-3">

                                <span class="input-group-text w-50">Kwota</span>
                                <input type="number" id="inputAmount" value="{{ expense.amount }}" class="form-control" placeholder="Podaj kwotę w zł" aria-label="Amount" name="amount">
                            </div>
                            <div class="text-danger ms-2 fs-6 position-absolute"></div>
                        </div>
                        
                        <div class="col-12 col-lg-6">
                            <div class="input-group mb-3">

                                <span class="input-group-text w-50">Data</span>
                                <input type="date" id="inputDate" class="form-control" aria-label="Date" name="date" min="1990-01-01" value="{{ date }}" max="2035-12-31">
                            </div>
                            <div class="text-danger ms-2 fs-6 position-absolute"></div>
                        </div>
                    </div>
                        
                        
                    <div class="row m-0 m-lg-3 pt-3">
                        <div class="col-12 col-lg-6">

                            <div class="input-group mb-3">
                                <span class="input-group-text w-50">Sposób płatności </span>
                                <select class="form-select" id="inputPayment" name="paymentMethod" aria-label="payment">
                                    <option value="cat0" selected disabled> </option>
                                    {% for paymentMethod in methodsPayment %}
                                    <option value="{{ paymentMethod.id }}">
                                            {{ paymentMethod.name }}
                                    </option>
                                    {% endfor %}

                                </select>		
                            </div>
                            <div class="text-danger ms-2 fs-6 position-absolute"></div>
                        </div>
                        
                        <div class="col-12 col-lg-6">

                            <div class="input-group mb-3">
                                <span class="input-group-text w-50">Kategoria</span>
                                <select class="form-select" name="category" id="inputCategory" aria-label="category">
                                    <option value="cat0" selected disabled>	</option>
                                    {% for category in expensesCategory %}
                                    <option value="{{ category.id }}">
                                            {{ category.name }}
                                    </option>
                                    {% endfor %}


                                </select>								
                            </div>
                            <div class="text-danger ms-2 fs-6 position-absolute"></div>
                        </div>
                    </div>
                    

                    <div class="row m-0 m-lg-3 pt-3">
                        <div class="col-12">

                            <div class="input-group mb-3">
                                <span class="input-group-text">Komentarz</span>
                                <input type="text" name="comment" id="inputComment" class="form-control" placeholder="Dodaj komentarz" aria-label="Comment">
                            </div>
                            <div class="text-danger ms-2 fs-6 position-absolute"></div>
                        </div>
                    </div>
                    
                    <div class="btn-group btn-group-lg start-50 translate-middle mt-5" role="group">
                        <button type="button" class="btn btn-outline-success me-2" onclick="location.href='/';">Anuluj</button>
                        <button type="submit" class="btn btn-success ms-2">Dodaj</button>
                    </div>

                </form>
                
            </div>
        
        </div>

        <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5  ps-5 pt-2 mt-5 m-md-auto text-danger fs-6 ">
            {% if expense.errors is not empty %}
                <p>Errors:</p>
                <ul>
                    {% for error in expense.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </article>
    
</main>

{% endif %}

 

{% endblock %}
