{% extends "base.html" %}

{% block title %}Add Expense{% endblock %}

{% block body %}

    <div class="p-3 m-auto text-center px-5">
        Wydatek został dodany! 
        <br>
        Jeśli chcesz dodać kolejny wydatek kliknij poniższy przycisk
    </div>
    <div class="btn-group btn-group-lg start-50 translate-middle mt-5" role="group">
        <button type="button"  class="btn btn-outline-success " onclick="location.href='/addExpense';">Dodaj kolejny wydatek</button>
    </div>

{% endblock %}