{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 bg-white m-2 m-md-auto border border-light rounded p-2 shadow-lg">

    <header class="h3 text-start ps-3" style="letter-spacing: 2px;">
        Profil
    </header>

    <div class="input-group p-3 m-auto px-5">
        <dl>
            <dt>Imię</dt>
            <dd>{{ user.username }}</dd>
            <dt>Email</dt>
            <dd>{{ user.email }}</dd>
        </dl>
        
    </div>
    <div class="d-flex justify-content-center pb-2">
        <button type="button"  class="btn btn-outline-success m-auto mx-1" onclick="location.href='/profile/edit';">Edytuj</button>
        <button type="button"  class="btn btn-outline-danger m-auto mx-1" onclick="location.href='/profile/deleteIncomesAndExpenses';">Usuń przychody i wydatki</button>
        <button type="button"  class="btn btn-outline-danger m-auto mx-1" onclick="location.href='/profile/deleteAccount';">Usuń konto</button>
    </div>
</div>

</article>


{% endblock %}
