{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 bg-white m-2 m-md-auto border border-light rounded p-2 shadow-lg">

    <header class="h3 text-start m-auto" style="letter-spacing: 2px;">
        Profil
    </header>

    <div class="input-group p-3 m-auto px-5">
        <dl>
            <dt>Imię</dt>
            <dd>{{ user.username }}</dd>
            <dt>Email</dt>
            <dd>{{ user.email }}</dd>
        </dl>
        
    </div>
    <button type="button"  class="btn btn-outline-success m-auto mx-2" onclick="location.href='/profile/edit';">Edytuj</button>
    <button type="button"  class="btn btn-outline-danger m-auto mx-2" onclick="location.href='/profile/deleteIncomesAndExpenses';">Usuń przychody i wydatki</button>
    <button type="button"  class="btn btn-outline-danger m-auto mx-2" onclick="location.href='/profile/deleteAccount';">Usuń konto</button>
</div>

</article>


{% endblock %}
